<p id="notice"><%= notice %></p>

  <h3 class>Easy Bot</h3>

  <%# post form %>
  <%= form_with(url: chat_index_path, method: :post, id: "new_chat", format: :json) do |form| %>
    <div class="field">
      <%= form.text_area :user_input, id: :chat_user_input, placeholder: "type a message here", class:"form-control" %>
    </div>

    <div class="actions">
      <%= form.submit  class:"btn btn-default" %>
    </div>
  <% end %>

  <%= link_to '会話履歴参照', history_list_path %>
  <br/>

<%# index view %>
  <div class="body">
    <% @chats.each do |chat| %></p>
      <p><%= chat.created_at.to_s(:time) %> :  You > <%= chat.user_input %></p>
      <p><%= chat.created_at.to_s(:time) %> :  Bot > <%= chat.bot_response %></p>
    <% end %>
  </div>
