<!DOCTYPE html>
<html>
  <head>
    <title>EasyBot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="box1">
      <ol>ユーザーメッセージパターン　
        <li>挨拶："こんにちは"、"こんにちは。"</li>
        <li>時間："今何時ですか？"、"今何時","何時？"</li>
        <li>天気："今日の東京の天気は？","今日の天気は？","天気は？"</li>
      </ol>
    </div>
    <br/>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
